Repository JoJo275/simple-python-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

no-do-not-commit-marker:
  name: Block @@DO_NOT_COMMIT@@ marker
  entry: '@@DO_NOT_COMMIT@@'
  language: pygrep

no-secrets-patterns:
  name: Block secrets / credentials patterns
  entry: (?i)(api[_-]?key|api[_-]?secret|secret[_-]?key|access[_-]?token|auth[_-]?token|private[_-]?key|client[_-]?secret|password|passwd)\s*[:=]\s*["'][^\s"']{8,}
  language: pygrep

no-nul-bytes:
  name: Block NUL bytes in text-like files
  entry: python scripts/precommit/check_nul_bytes.py
  language: python

feat: update Copilot instructions and CI workflows for clarity and accuracy
  .github/copilot-instructions.md
  .github/workflows/ci-gate.yml
  docs/adr/024-ci-gate-pattern.md
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: tag workflow names with `# ci-gate: required` for CI gate integration
  .github/workflows/ci-gate.yml
  .github/workflows/commit-lint.yml
  .github/workflows/container-build.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-format.yml
  .github/workflows/pr-title.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update pre-commit hooks and documentation for improved checks and clarity
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  docs/adr/008-pre-commit-hooks.md
  docs/workflows.md
  scripts/check_nul_bytes.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: expand learning and todo documentation with Unix concepts and CI checks
  docs/notes/learning.md
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add auto-merge workflow for Dependabot PRs and update documentation for workflow count
  .github/copilot-instructions.md
  .github/workflows/auto-merge-dependabot.yml
  _typos.toml
  db/README.md
  docs/notes/learning.md
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add documentation deployment workflow and update related documentation
  .github/copilot-instructions.md
  .github/workflows/docs-deploy.yml
  docs/design/architecture.md
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance documentation and CI workflows, add integration tests for CLI
  .github/copilot-instructions.md
  .github/workflows/docs-deploy.yml
  Taskfile.yml
  docs/design/architecture.md
  docs/notes/todo.md
  docs/workflows.md
  mkdocs.yml
  tests/integration/test_cli_smoke.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add scripts for environment checks and TODO scanning
  .github/copilot-instructions.md
  README.md
  scripts/changelog_check.py
  scripts/check_todos.py
  scripts/env_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add interactive customization script and update related documentation
  .github/copilot-instructions.md
  README.md
  docs/USING_THIS_TEMPLATE.md
  scripts/README.md
  scripts/customize.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add note on shebang and executable bit handling for Windows scripts
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add PR labeler configuration for automated labeling based on file changes
  .github/labeler.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: implement repository guard pattern for optional workflows with new opt-in methods
  .github/workflows-optional/changelog.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/bandit.yml
  .github/workflows/ci-gate.yml
  .github/workflows/codeql.yml
  .github/workflows/commit-lint.yml
  .github/workflows/container-build.yml
  .github/workflows/container-scan.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/link-checker.yml
  .github/workflows/lint-format.yml
  .github/workflows/nightly-security.yml
  .github/workflows/pr-title.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck-autofix.yml
  .github/workflows/spellcheck.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  docs/adr/011-repository-guard-pattern.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update TODO list with new items for design documentation and resource links
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: clarify comment on cron time shifts for DST in Bandit workflow
  .github/workflows/bandit.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance cron schedule comments for clarity on UTC and DST adjustments
  .github/workflows/codeql.yml
  .github/workflows/container-scan.yml
  .github/workflows/link-checker.yml
  .github/workflows/nightly-security.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: clarify comments on DST adjustments in workflow files and update .containerignore and .dockerignore to include README.md
  .containerignore
  .dockerignore
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/sbom.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck-autofix.yml
  .github/workflows/stale.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

chore: update Trivy action to version 0.34.1 in container-scan and nightly-security workflows
  .github/workflows/container-scan.yml
  .github/workflows/nightly-security.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add verification step for SHA-pinned GitHub Actions in Copilot instructions
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

chore: remove LICENSE from .containerignore and .dockerignore, add it to Containerfile COPY command
  .containerignore
  .dockerignore
  Containerfile
Due: no-do-not-commit-marker

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: no-nul-bytes

docs: add comprehensive guide on configuring GitHub Actions workflow YAML files
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-nul-bytes

chore: update Scorecard action to version 2.4.3
  .github/workflows/scorecard.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add tip about PR template for structured checklist in pull requests
  docs/releasing.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: add pull request draft template for structured PR descriptions
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: enhance pull request draft template with comprehensive CI/CD and tooling details
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: add suggested labels section to pull request draft template
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: enhance documentation and workflows with additional guidance and examples
  .github/copilot-instructions.md
  .github/workflows/ci-gate.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  docs/workflows.md
  pyproject.toml
  tests/integration/test_db_example.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add changelog workflow using git-cliff for automated changelog generation
  .github/workflows-optional/changelog.yml
  .pre-commit-config.yaml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update ADRs and add template for new architecture decision records
  docs/adr/008-pre-commit-hooks.md
  docs/adr/015-no-github-directory-readme.md
  docs/adr/016-hatchling-and-hatch.md
  docs/adr/018-bandit-for-security-linting.md
  docs/adr/019-containerfile.md
  docs/adr/024-ci-gate-pattern.md
  docs/adr/README.md
  docs/adr/template.md
  docs/design/tool-decisions.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add detailed design and resources documentation to enhance project understanding
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add CI gate workflow and enhance pre-commit configuration for dependency hygiene
  .github/workflows/ci-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add configuration for typos spell-checker in pre-commit setup
  .pre-commit-config.yaml
  _typos.toml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance Copilot instructions with guidelines for keeping related files in sync and maintaining up-to-date documentation
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

Path conditions:
  no-do-not-commit-marker: any of: not (\.pre-commit-config\.yaml$), but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

  no-secrets-patterns: any of: \.(py|pyi|toml|ya?ml|json|env|ini|cfg|txt|md)$ and not ((?x) \.pre-commit-config\.yaml$| \.env\.example$| requirements.*\.txt$| ^docs/| SECURITY\.md$) and not ((?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)
)
  no-nul-bytes: any of: \.(py|pyi|toml|yaml|yml|md|rst|txt|json|ini|cfg|csv|ts|js|html|css|sh|ps1)$, but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

