Repository JoJo275/simple-python-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

no-do-not-commit-marker:
  name: Block @@DO_NOT_COMMIT@@ marker
  entry: '@@DO_NOT_COMMIT@@'
  language: pygrep

no-secrets-patterns:
  name: Block secrets / credentials patterns
  ...

no-nul-bytes:
  name: Block NUL bytes in text-like files
  entry: python scripts/precommit/check_nul_bytes.py
  language: python

feat: Enhance project environment dashboard with async report generation and terminal features
  .github/copilot-instructions.md
  .github/instructions/collectors.instructions.md
  .github/instructions/dashboard-css.instructions.md
  .github/instructions/dashboard-templates.instructions.md
  .github/instructions/dashboard.instructions.md
  .github/skills/dashboard-dev/SKILL.md
  scripts/_env_collectors/insights.py
  scripts/_env_collectors/project.py
  tools/dev_tools/env_dashboard/api.py
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/collector.py
  tools/dev_tools/env_dashboard/routes.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/project.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Improve shutdown dialog and terminal UI, enhance environment display in venv.html
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/venv.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Add container file detection and critical files display in project dashboard
  scripts/_env_collectors/container.py
  scripts/_env_collectors/project.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
  tools/dev_tools/env_dashboard/templates/partials/packages.html
  tools/dev_tools/env_dashboard/templates/partials/pip_environments.html
  tools/dev_tools/env_dashboard/templates/partials/project.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance shutdown dialog behavior and improve scrolling animations
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Add devcontainer detection and display in container files section; enhance quick actions panel and summary indicators
  scripts/_env_collectors/container.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Implement service worker for offline support and add offline page; enhance UI elements and restart commands
  tools/dev_tools/env_dashboard/routes.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/static/offline.html
  tools/dev_tools/env_dashboard/static/sw.js
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance UI tooltips and hints across environment dashboard; improve styling and layout for better user experience
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/_macros.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
  tools/dev_tools/env_dashboard/templates/partials/filesystem.html
  tools/dev_tools/env_dashboard/templates/partials/git.html
  tools/dev_tools/env_dashboard/templates/partials/network.html
  tools/dev_tools/env_dashboard/templates/partials/project.html
  tools/dev_tools/env_dashboard/templates/partials/runtimes.html
  tools/dev_tools/env_dashboard/templates/partials/system.html
  tools/dev_tools/env_dashboard/templates/partials/venv.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Update stylesheet link to include cache-busting query parameter; refine shutdown dialog text for clarity
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
Due: no-do-not-commit-marker, no-nul-bytes

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: no-nul-bytes

feat: Enhance shutdown process and improve static file caching; add section guides for better user guidance
  tools/dev_tools/env_dashboard/api.py
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance section guides with common issues and related links for better user navigation
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/index.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Enhance section guides with key concepts and improve path table layout for better clarity
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/path.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Add detailed section guide to warnings panel and enhance UI animations for better user experience
  scripts/_env_collectors/insights.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/index.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Refactor table styles and macros for improved layout and consistency in build tools section
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/partials/_macros.html
  tools/dev_tools/env_dashboard/templates/partials/project.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Implement PATH entry removal API and enhance UI for managing PATH entries
  tools/dev_tools/env_dashboard/api.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/partials/_macros.html
  tools/dev_tools/env_dashboard/templates/partials/path.html
  tools/dev_tools/env_dashboard/templates/partials/pip_environments.html
  tools/dev_tools/env_dashboard/templates/partials/project_commands.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance environment dashboard with new features and improvements
  .github/copilot-instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/tests.instructions.md
  scripts/_env_collectors/__init__.py
  scripts/_env_collectors/ci_cd_status.py
  scripts/_env_collectors/dependency_health.py
  scripts/_env_collectors/disk_workspace.py
  scripts/_env_collectors/docs_status.py
  scripts/_env_collectors/precommit_hooks.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/ci_cd_status.html
  tools/dev_tools/env_dashboard/templates/partials/dependency_health.html
  tools/dev_tools/env_dashboard/templates/partials/disk_workspace.html
  tools/dev_tools/env_dashboard/templates/partials/docs_status.html
  tools/dev_tools/env_dashboard/templates/partials/precommit_hooks.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Update UI elements and improve layout for better clarity and consistency across panels
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
  tools/dev_tools/env_dashboard/templates/partials/filesystem.html
  tools/dev_tools/env_dashboard/templates/partials/git.html
  tools/dev_tools/env_dashboard/templates/partials/network.html
  tools/dev_tools/env_dashboard/templates/partials/venv.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Enhance CI/CD status collector and dashboard with improved trigger extraction and display logic
  scripts/_env_collectors/ci_cd_status.py
  scripts/_env_collectors/disk_workspace.py
  scripts/_env_collectors/precommit_hooks.py
  tools/dev_tools/env_dashboard/templates/partials/ci_cd_status.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance system information collection and display
  .gitignore
  _typos.toml
  docs/notes/pico-css.md
  scripts/_env_collectors/__init__.py
  scripts/_env_collectors/docs_status.py
  scripts/_env_collectors/hardware.py
  scripts/_env_collectors/system.py
  tools/dev_tools/env_dashboard/api.py
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/hardware.html
  tools/dev_tools/env_dashboard/templates/partials/system.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance hardware information collection and display with additional memory module details and improved UI elements
  scripts/_env_collectors/hardware.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/static/offline.html
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
  tools/dev_tools/env_dashboard/templates/partials/filesystem.html
  tools/dev_tools/env_dashboard/templates/partials/git.html
  tools/dev_tools/env_dashboard/templates/partials/hardware.html
  tools/dev_tools/env_dashboard/templates/partials/network.html
  tools/dev_tools/env_dashboard/templates/partials/venv.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance memory module details with improved animations and layout adjustments
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Enhance dashboard functionality with background scanning and improved CSS guidelines
  .github/instructions/dashboard-css.instructions.md
  .github/instructions/dashboard.instructions.md
  scripts/_env_collectors/__init__.py
  tools/dev_tools/env_dashboard/api.py
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance project commands display with improved table layout for dependencies and optional groups
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/partials/project_commands.html
Due: no-do-not-commit-marker, no-nul-bytes

feat: Enhance stashes display and add chevron icons for improved UI in dashboard
  scripts/git_doctor.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/partials/container.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Enhance environment collectors with virtualenv discovery and improve dependency health display
  scripts/_env_collectors/disk_workspace.py
  scripts/_env_collectors/precommit_hooks.py
  scripts/_env_collectors/venv.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/partials/dependency_health.html
  tools/dev_tools/env_dashboard/templates/partials/venv.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Add global entry points for utility scripts and enhance documentation
  .github/copilot-instructions.md
  docs/USING_THIS_TEMPLATE.md
  docs/development/dev-setup.md
  docs/guide/dashboard-guide.md
  docs/guide/entry-points.md
  docs/repo-layout.md
  mkdocs.yml
  pyproject.toml
  scripts/README.md
  scripts/_env_collectors/ci_cd_status.py
  scripts/_imports.py
  src/simple_python_boilerplate/scripts_cli.py
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/static/css/style.css
  tools/dev_tools/env_dashboard/templates/base.html
  tools/dev_tools/env_dashboard/templates/index.html
  tools/dev_tools/env_dashboard/templates/partials/_macros.html
  tools/dev_tools/env_dashboard/templates/partials/filesystem.html
  tools/dev_tools/env_dashboard/templates/partials/git.html
  tools/dev_tools/env_dashboard/templates/partials/packages.html
  tools/dev_tools/env_dashboard/templates/partials/path.html
  tools/dev_tools/env_dashboard/templates/partials/pip_environments.html
  tools/dev_tools/env_dashboard/templates/partials/project_commands.html
  tools/dev_tools/env_dashboard/templates/partials/security.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Add environment dashboard documentation and enhance startup banner display
  README.md
  docs/USING_THIS_TEMPLATE.md
  tools/dev_tools/env_dashboard/app.py
  tools/dev_tools/env_dashboard/templates/base.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: Add environment dashboard and related commands to relevant docs.
  .github/copilot-instructions.md
  README.md
  docs/USING_THIS_TEMPLATE.md
  docs/adr/042-script-smoke-testing.md
  docs/adr/043-collector-plugin-architecture.md
  docs/adr/044-copilot-skills-and-instructions.md
  docs/adr/README.md
  docs/design/architecture.md
  docs/design/ci-cd-design.md
  docs/design/tool-decisions.md
  docs/development/command-workflows.md
  docs/development/developer-commands.md
  docs/development/development.md
  docs/development/pull-requests.md
  docs/guide/getting-started.md
  docs/index.md
  docs/reference/commands.md
  docs/reference/template-inventory.md
  docs/repo-layout.md
  docs/tooling.md
  docs/workflows.md
  mkdocs.yml
  scripts/README.md
  scripts/generate_command_reference.py
  simple-python-boilerplate.code-workspace
  tools/dev_tools/env_dashboard/templates/index.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: Update command reference generation details and improve pull request draft template
  docs/reference/commands.md
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: populated pull-request-draft.md
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: Add unit tests for environment collectors and related components
  README.md
  docs/USING_THIS_TEMPLATE.md
  pyproject.toml
  scripts/_env_collectors/insights.py
  src/ENTRY_POINTS.md
  src/README.md
  src/simple_python_boilerplate/cli.py
  src/simple_python_boilerplate/entry_points.py
  src/simple_python_boilerplate/main.py
  src/simple_python_boilerplate/scripts_cli.py
  tests/unit/test_entry_points.py
  tests/unit/test_env_collectors.py
  tests/unit/test_env_collectors_base.py
  tests/unit/test_env_collectors_init.py
  tests/unit/test_env_collectors_insights.py
  tests/unit/test_env_collectors_redact.py
  tests/unit/test_main_entry.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

test: Add integration tests for CLI commands and entry point delegation
  tests/integration/test_cli_smoke.py
  tests/unit/test_entry_points.py
  tests/unit/test_subpackage_imports.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Update file paths in documentation and workflows for consistency
  .github/skills/dashboard-dev/SKILL.md
  .github/workflows/link-checker.yml
  .github/workflows/spellcheck.yml
  Containerfile
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Update .containerignore and .dockerignore to clarify excluded directories; adjust SKILL.md links for accuracy; refine spellcheck workflows to skip additional file types
  .containerignore
  .dockerignore
  .github/skills/dashboard-dev/SKILL.md
  .github/workflows/spellcheck-autofix.yml
  .github/workflows/spellcheck.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Enhance validation of Python executable path in API handlers and improve error handling
  .github/workflows/spellcheck.yml
  tests/unit/test_env_collectors_redact.py
  tools/dev_tools/env_dashboard/api.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Update CLI command names and enhance cache management in environment dashboard
  .github/copilot-instructions.md
  docs/development/dev-setup.md
  tests/unit/test_env_collectors_redact.py
  tools/dev_tools/env_dashboard/collector.py
  tools/dev_tools/env_dashboard/routes.py
  tools/dev_tools/env_dashboard/templates/partials/_macros.html
  tools/dev_tools/env_dashboard/templates/partials/project_commands.html
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Enhance Python executable validation and registration in allowlist
  tools/dev_tools/env_dashboard/api.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Enhance VS Code extension recommendations and improve Python executable normalization in API
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  simple-python-boilerplate.code-workspace
  tools/dev_tools/env_dashboard/api.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Configure Live Preview to use integrated browser for proper request handling
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Add CSS-Tricks to .lycheeignore to handle non-browser request rejection
  .lycheeignore
Due: no-do-not-commit-marker

Path conditions:
  no-do-not-commit-marker: any of: not (\.pre-commit-config\.yaml$), but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

  no-secrets-patterns: any of: \.(py|pyi|toml|ya?ml|json|env|ini|cfg|txt|md|sh|ps1)$|Containerfile$|Dockerfile$ and not ((?x) \.pre-commit-config\.yaml$| \.env\.example$| ^docs/| SECURITY\.md$) and not ((?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)
)
  no-nul-bytes: any of: \.(py|pyi|toml|yaml|yml|md|rst|txt|json|ini|cfg|csv|ts|js|html|css|sh|ps1)$, but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

