Repository JoJo275/simple-python-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

Path conditions:
  no-do-not-commit-marker: any of: not (\.pre-commit-config\.yaml$), but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

  no-secrets-patterns: any of: \.(py|pyi|toml|ya?ml|json|env|ini|cfg|txt|md)$ and not ((?x) \.pre-commit-config\.yaml$| \.env\.example$| requirements.*\.txt$| ^docs/| SECURITY\.md$) and not ((?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)
)
  no-nul-bytes: any of: \.(py|pyi|toml|yaml|yml|md|rst|txt|json|ini|cfg|csv|ts|js|html|css|sh|ps1)$, but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)


docs: clarify comment on cron time shifts for DST in Bandit workflow
  .github/workflows/bandit.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add interactive customization script and update related documentation
  .github/copilot-instructions.md
  README.md
  docs/USING_THIS_TEMPLATE.md
  scripts/README.md
  scripts/customize.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add comprehensive guide on configuring GitHub Actions workflow YAML files
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: update pre-commit hooks and documentation for improved checks and clarity
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  docs/adr/008-pre-commit-hooks.md
  docs/workflows.md
  scripts/check_nul_bytes.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: clarify comments on DST adjustments in workflow files and update .containerignore and .dockerignore to include README.md
  .containerignore
  .dockerignore
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/sbom.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck-autofix.yml
  .github/workflows/stale.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance Copilot instructions with detailed impact analysis and recap structure
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: tag workflow names with `# ci-gate: required` for CI gate integration
  .github/workflows/ci-gate.yml
  .github/workflows/commit-lint.yml
  .github/workflows/container-build.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-format.yml
  .github/workflows/pr-title.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update TODO list with new items for design documentation and resource links
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: update TODO list with new CI tasks and testing considerations
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

chore: update Trivy action to version 0.34.1 in container-scan and nightly-security workflows
  .github/workflows/container-scan.yml
  .github/workflows/nightly-security.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: implement repository guard pattern for optional workflows with new opt-in methods
  .github/workflows-optional/changelog.yml
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/bandit.yml
  .github/workflows/ci-gate.yml
  .github/workflows/codeql.yml
  .github/workflows/commit-lint.yml
  .github/workflows/container-build.yml
  .github/workflows/container-scan.yml
  .github/workflows/coverage.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/link-checker.yml
  .github/workflows/lint-format.yml
  .github/workflows/nightly-security.yml
  .github/workflows/pr-title.yml
  .github/workflows/pre-commit-update.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
  .github/workflows/security-audit.yml
  .github/workflows/spellcheck-autofix.yml
  .github/workflows/spellcheck.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/type-check.yml
  docs/adr/011-repository-guard-pattern.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add new ideas for project templates and containerfile updates in TODO list
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

chore: remove LICENSE from .containerignore and .dockerignore, add it to Containerfile COPY command
  .containerignore
  .dockerignore
  Containerfile
Due: no-do-not-commit-marker

feat: enhance Copilot and architecture documentation with actionable TODOs for template users
  .github/copilot-instructions.md
  docs/design/architecture.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update Copilot instructions and CI workflows for clarity and accuracy
  .github/copilot-instructions.md
  .github/workflows/ci-gate.yml
  docs/adr/024-ci-gate-pattern.md
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance pull request draft template with comprehensive CI/CD and tooling details
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: expand learning and todo documentation with Unix concepts and CI checks
  docs/notes/learning.md
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add PR labeler configuration for automated labeling based on file changes
  .github/labeler.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance architecture documentation with module responsibilities and design decisions
  .github/copilot-instructions.md
  docs/design/architecture.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add GitHub Copilot instructions file to enhance project onboarding and code generation
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: enhance Copilot instructions with domain context and examples for better usability
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add verification step for SHA-pinned GitHub Actions in Copilot instructions
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update Copilot instructions with detailed project overview and guidelines
  .github/copilot-instructions.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance cron schedule comments for clarity on UTC and DST adjustments
  .github/workflows/codeql.yml
  .github/workflows/container-scan.yml
  .github/workflows/link-checker.yml
  .github/workflows/nightly-security.yml
  .github/workflows/sbom.yml
  .github/workflows/scorecard.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add auto-merge workflow for Dependabot PRs and update documentation for workflow count
  .github/copilot-instructions.md
  .github/workflows/auto-merge-dependabot.yml
  _typos.toml
  db/README.md
  docs/notes/learning.md
  docs/workflows.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

chore: update Scorecard action to version 2.4.3
  .github/workflows/scorecard.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add detailed documentation tasks for workflows, project setup, and maintenance
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: add suggested labels section to pull request draft template
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: update TODO list to reflect completed tasks and refine project focus
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: update learning notes with lockfile strategies and dependency management insights
  _typos.toml
  docs/notes/learning.md
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: update learning section to reflect completed tasks
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: mark MkDocs setup as completed in TODO list
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: enhance coverage and test workflows with detailed notes and new Codecov configuration
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  codecov.yml
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add Dev Container and Docker Compose configurations, enhance learning notes on container strategies
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  README.md
  docker-compose.yml
  docs/adr/025-container-strategy.md
  docs/adr/README.md
  docs/notes/learning.md
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: update README badges and add section on badge usage in learning notes
  README.md
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: update license badge in README to reflect correct format
  README.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

test: add unit tests for API and dev_tools.clean modules
  tests/unit/test_api.py
  tests/unit/test_clean.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: update TODO list with completed tasks and refine remaining items
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: update TODO list with completed tasks and refine remaining items
  docs/notes/learning.md
  docs/notes/todo.md
Due: no-do-not-commit-marker, no-nul-bytes
