Repository JoJo275/simple-python-boilerplate: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

no-do-not-commit-marker:
  name: Block @@DO_NOT_COMMIT@@ marker
  entry: '@@DO_NOT_COMMIT@@'
  language: pygrep

no-secrets-patterns:
  name: Block secrets / credentials patterns
  ...

no-nul-bytes:
  name: Block NUL bytes in text-like files
  entry: python scripts/precommit/check_nul_bytes.py
  language: python

feat: enhance git_doctor with fetch and prune functionality for accurate branch activity
  .vscode/settings.json
  README.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance git_doctor with new features and improvements
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  docs/USING_THIS_TEMPLATE.md
  docs/known-issues.md
  scripts/git_doctor.py
  tests/unit/test_git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Update git_doctor to version 2.0.0 with enhanced configuration reference and section mappings
  git-config-reference.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

fix: Update timestamp in git configuration reference
  git-config-reference.md
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Update git_doctor version to 1.13.0 and enhance output with modified files and health check results
  scripts/git_doctor.py
  tests/unit/test_env_doctor.py
  tests/unit/test_git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Add comprehensive Git configuration reference and export feature
  docs/notes/learning.md
  git-config-reference.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: Populated pull-request-draft.md
  docs/templates/pull-request-draft.md
Due: no-do-not-commit-marker, no-nul-bytes

fix: Update README contents to correct resource links and descriptions
  docs/notes/README.md
Due: no-do-not-commit-marker, no-nul-bytes

chore: add PGP public key for security reports
  SECURITY.md
  pgp-key.asc
Due: no-do-not-commit-marker, no-nul-bytes

feat: Enhance git configuration reference with section descriptions and summary table
  docs/USING_THIS_TEMPLATE.md
  docs/repo-layout.md
  git-config-reference.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance reporting instructions for PGP key usage and verification process
  SECURITY.md
Due: no-do-not-commit-marker, no-nul-bytes

feat: add OS/platform and pip version checks to env doctor; improve logging across scripts
  scripts/env_doctor.py
  scripts/generate_command_reference.py
  scripts/repo_doctor.py
  scripts/workflow_versions.py
  tests/unit/test_repo_doctor.py
  tests/unit/test_workflow_versions.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: enhance security policy with PGP setup instructions; update troubleshooting guide and improve type hints in scripts
  SECURITY.md
  docs/releasing.md
  scripts/apply_labels.py
  scripts/check_todos.py
  scripts/env_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add unicode symbol support across scripts and enhance VS Code workspace configuration
  docs/USING_THIS_TEMPLATE.md
  pyproject.toml
  scripts/_colors.py
  scripts/archive_todos.py
  scripts/bootstrap.py
  scripts/check_known_issues.py
  scripts/check_todos.py
  scripts/clean.py
  scripts/doctor.py
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update VS Code workspace configuration with detailed extension recommendations and customization instructions
  docs/USING_THIS_TEMPLATE.md
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker, no-nul-bytes

feat: enhance indentRainbow configuration with detailed color descriptions and style options
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker

feat: update progress bar and spinner color options; increment script versions
  scripts/_progress.py
  scripts/apply_labels.py
  scripts/archive_todos.py
  scripts/changelog_check.py
  scripts/check_known_issues.py
  scripts/check_todos.py
  scripts/clean.py
  scripts/customize.py
  scripts/dep_versions.py
  scripts/doctor.py
  scripts/env_doctor.py
  scripts/workflow_versions.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Add recommended Git configuration and enhance git_doctor with new branch characteristics
  .gitconfig.recommended
  git-config-reference.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: Add --fix option to git_doctor for auto-applying recommended git config settings
  .pre-commit-config.yaml
  docs/notes/learning.md
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update env doctor with additional checks for Node.js, container runtime, and git remote; improve disk space check
  scripts/env_doctor.py
  scripts/generate_command_reference.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: add recommended extensions for Python development and improve workspace configuration
  .vscode/extensions.json
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: add comprehensive VS Code settings guide with hierarchy, files, and best practices
  docs/notes/learning.md
Due: no-do-not-commit-marker, no-nul-bytes

refactor: Consolodate health_check.py into other scripts
  Taskfile.yml
  docs/reference/commands.md
  scripts/README.md
  scripts/_doctor_common.py
  scripts/env_doctor.py
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update git_doctor with enhanced documentation and new git commands for better usability
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

test: add unit tests for various scripts and functionalities
  README.md
  codecov.yml
  container-structure-test.yml
  docs/USING_THIS_TEMPLATE.md
  docs/index.md
  docs/repo-layout.md
  tests/unit/test_apply_labels.py
  tests/unit/test_bootstrap.py
  tests/unit/test_changelog_check.py
  tests/unit/test_check_nul_bytes.py
  tests/unit/test_check_todos.py
  tests/unit/test_customize.py
  tests/unit/test_customize_interactive.py
  tests/unit/test_env_doctor.py
  tests/unit/test_imports.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update git_doctor with enhanced branch statistics and file change summaries
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance security policy with Windows PATH setup instructions for Gpg4win
  SECURITY.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: enhance VS Code workspace configuration with personalized preferences and examples
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker

docs: add 'doctor:all' task for unified health checks; update VS Code interpreter path instructions
  README.md
  Taskfile.yml
  docs/known-issues.md
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

feat: update script versions and enhance git_doctor with commit count, repo age, and contributors checks
  scripts/doctor.py
  scripts/git_doctor.py
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

docs: enhance security policy with detailed Windows PATH setup instructions for Gpg4win
  SECURITY.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: add instructions for using PGP key to encrypt vulnerability reports
  SECURITY.md
Due: no-do-not-commit-marker, no-nul-bytes

docs: update VS Code workspace settings and known issues for clarity on interpreter path usage
  .github/copilot-instructions.md
  docs/known-issues.md
  simple-python-boilerplate.code-workspace
Due: no-do-not-commit-marker, no-secrets-patterns, no-nul-bytes

Path conditions:
  no-do-not-commit-marker: any of: not (\.pre-commit-config\.yaml$), but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

  no-secrets-patterns: any of: \.(py|pyi|toml|ya?ml|json|env|ini|cfg|txt|md|sh|ps1)$|Containerfile$|Dockerfile$ and not ((?x) \.pre-commit-config\.yaml$| \.env\.example$| ^docs/| SECURITY\.md$) and not ((?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)
)
  no-nul-bytes: any of: \.(py|pyi|toml|yaml|yml|md|rst|txt|json|ini|cfg|csv|ts|js|html|css|sh|ps1)$, but not: (?x)^(
  \.venv/|
  dist/|
  build/|
  site/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  __pycache__/
)

